<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Coaches</h1>
{% for key,value in coaches.items %}
    <li style="margin-left: 50px"><a>{{ key }} - {{ value }}</a></li>

{% endfor %}

</body>
</html>