<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Games</h1>


{% for game in last_games %}
    <li><a>{{ game }}</a></li>
{% endfor %}

</body>
</html>