<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Home</h1>


<h1>Ultimos partidos</h1>
{% for game in games %}
    <li><a>{{ game.name }}</a></li>
{% endfor %}


<h1>Ultimos jugadores</h1>
{% for player in last_players %}
    <li><a>{{ player.name }}</a></li>
{% endfor %}


<h1>Equipos</h1>
{% for key,value in team_players.items %}
    <li><a>{{value.name}} - {{ value.total_players }} jugadores</a></li>
{% endfor %}

</body>
</html>