<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>

<h1>Equipos</h1>
{% for key,value in teams.items %}
    <h2 style="margin-top: 50px;"><a>{{ key }} </a></h2>

    {% for player in value %}
        <li style="margin-left: 50px"><a>{{ player.name }}({{ player.alias }})</a></li>
    {% endfor %}
{% endfor %}

</body>
</html>